email-digest-subflow.json
{
  "name": "Email Digest (Subflow)",
  "nodes": [
    {
      "parameters": {},
      "id": "subflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "getRows",
        "documentId": { "value": "YOUR_GOOGLE_SHEET_URL" },
        "sheetName": { "value": "Coupons" },
        "options": { "executeOnce": true }
      },
      "id": "read-coupons-sheet",
      "name": "Read Coupons Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [460, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } }
    },
    {
      "parameters": {
        "jsCode": "const today = new Date().toISOString().split('T')[0];\nconst allItems = $input.all();\n\nconst todaysCoupons = allItems.filter(item => {\n  const createdAt = item.json.CreatedAt || '';\n  return createdAt.startsWith(today);\n});\n\nconst totalIssued = todaysCoupons.length;\nconst totalExpired = todaysCoupons.filter(i => i.json.Status === 'EXPIRED').length;\nconst totalActive = todaysCoupons.filter(i => i.json.Status === 'ACTIVE').length;\n\nconst tableRows = todaysCoupons.map(i => {\n  const c = i.json;\n  const statusColor = c.Status === 'EXPIRED' ? '#e94560' : '#2ecc71';\n  return `<tr style=\"border-bottom:1px solid rgba(255,255,255,0.08)\">\n    <td style=\"padding:8px 6px;font-family:monospace;color:#e94560\">${c.CouponCode || '-'}</td>\n    <td style=\"padding:8px 6px\">${c.UserName || '-'}</td>\n    <td style=\"padding:8px 6px\">${c.UserEmail || '-'}</td>\n    <td style=\"padding:8px 6px;text-align:center\">${c.DiscountPercent || '-'}%</td>\n    <td style=\"padding:8px 6px;text-align:center\"><span style=\"color:${statusColor};font-weight:bold\">${c.Status || '-'}</span></td>\n    <td style=\"padding:8px 6px;font-size:12px;color:#aaa\">${c.ExpiresAt || '-'}</td>\n  </tr>`;\n}).join('');\n\nconst tableHtml = totalIssued > 0 ? `\n<table style=\"width:100%;border-collapse:collapse;font-size:13px\">\n  <thead>\n    <tr style=\"border-bottom:2px solid rgba(255,255,255,0.2)\">\n      <th style=\"padding:8px 6px;text-align:left;color:#aaa;font-weight:normal\">Code</th>\n      <th style=\"padding:8px 6px;text-align:left;color:#aaa;font-weight:normal\">Name</th>\n      <th style=\"padding:8px 6px;text-align:left;color:#aaa;font-weight:normal\">Email</th>\n      <th style=\"padding:8px 6px;text-align:center;color:#aaa;font-weight:normal\">Disc.</th>\n      <th style=\"padding:8px 6px;text-align:center;color:#aaa;font-weight:normal\">Status</th>\n      <th style=\"padding:8px 6px;text-align:left;color:#aaa;font-weight:normal\">Expires</th>\n    </tr>\n  </thead>\n  <tbody>${tableRows}</tbody>\n</table>` : '<p style=\"color:#aaa;text-align:center\">No coupons issued today.</p>';\n\nreturn [{\n  json: {\n    today,\n    totalIssued,\n    totalExpired,\n    totalActive,\n    tableHtml,\n    summaryLine: `${totalIssued} issued, ${totalExpired} expired, ${totalActive} still active`\n  }\n}];"
      },
      "id": "build-summary",
      "name": "Build Daily Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "sendTo": "YOUR_ADMIN_EMAIL",
        "subject": "=📊 Daily Coupon Digest — {{ $json.today }} | {{ $json.summaryLine }}",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:700px;margin:0 auto;padding:20px;background:#f5f5f5\"><div style=\"background:#1a1a2e;color:#fff;padding:30px;border-radius:12px\"><h2 style=\"color:#e94560;text-align:center;margin-top:0\">📊 Daily Coupon Campaign Digest</h2><p style=\"color:#aaa;text-align:center;font-size:14px;margin-bottom:24px\">{{ $json.today }}</p><div style=\"display:flex;gap:12px;margin-bottom:24px\"><div style=\"flex:1;background:rgba(255,255,255,0.08);border-radius:8px;padding:16px;text-align:center\"><p style=\"font-size:28px;font-weight:bold;margin:0;color:#fff\">{{ $json.totalIssued }}</p><p style=\"font-size:12px;color:#aaa;margin:4px 0 0;text-transform:uppercase;letter-spacing:1px\">Issued</p></div><div style=\"flex:1;background:rgba(255,255,255,0.08);border-radius:8px;padding:16px;text-align:center\"><p style=\"font-size:28px;font-weight:bold;margin:0;color:#e94560\">{{ $json.totalExpired }}</p><p style=\"font-size:12px;color:#aaa;margin:4px 0 0;text-transform:uppercase;letter-spacing:1px\">Expired</p></div><div style=\"flex:1;background:rgba(255,255,255,0.08);border-radius:8px;padding:16px;text-align:center\"><p style=\"font-size:28px;font-weight:bold;margin:0;color:#2ecc71\">{{ $json.totalActive }}</p><p style=\"font-size:12px;color:#aaa;margin:4px 0 0;text-transform:uppercase;letter-spacing:1px\">Active</p></div></div>{{ $json.tableHtml }}<p style=\"color:#555;font-size:12px;text-align:center;margin-top:24px;border-top:1px solid rgba(255,255,255,0.1);padding-top:16px\">Redemption status is not tracked automatically — check the sheet for manual updates.</p></div></body></html>"
      },
      "id": "send-digest-email",
      "name": "Send Admin Digest Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [900, 300],
      "credentials": { "gmailOAuth2": { "id": "YOUR_GMAIL_CREDENTIAL_ID", "name": "Gmail OAuth2" } }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Read Coupons Sheet", "type": "main", "index": 0 }]] },
    "Read Coupons Sheet": { "main": [[{ "node": "Build Daily Summary", "type": "main", "index": 0 }]] },
    "Build Daily Summary": { "main": [[{ "node": "Send Admin Digest Email", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
