workflow.json
{
  "name": "Automated Coupon Campaign",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 9AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 460]
    },
    {
      "parameters": {
        "operation": "getRows",
        "documentId": { "value": "YOUR_GOOGLE_SHEET_URL" },
        "sheetName": { "value": "Discounted" }
      },
      "id": "read-recipients",
      "name": "Read Recipients from Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [460, 380],
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } }
    },
    {
      "parameters": {
        "combineOperation": "all",
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            { "leftValue": "={{ $json.Status }}", "rightValue": "ACTIVE", "operator": { "type": "string", "operation": "notEquals" } },
            { "leftValue": "={{ $json.Email }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty" } },
            { "leftValue": "={{ $json.Opted_In }}", "rightValue": "YES", "operator": { "type": "string", "operation": "equals" } }
          ]
        }
      },
      "id": "filter-eligible",
      "name": "Filter Eligible Recipients",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [680, 380]
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "fields": {
          "values": [
            { "name": "userEmail", "stringValue": "={{ $json.Email }}" },
            { "name": "userName", "stringValue": "={{ $json.Name }}" },
            { "name": "couponType", "stringValue": "PERSONALIZED" },
            { "name": "discountPercent", "type": "numberValue", "numberValue": "={{ $json.DiscountPercent || 20 }}" },
            { "name": "validityHours", "type": "numberValue", "numberValue": 24 },
            { "name": "reminderHours", "type": "numberValue", "numberValue": 2 },
            { "name": "notificationEmail", "stringValue": "YOUR_ADMIN_EMAIL" },
            { "name": "storeUrl", "stringValue": "https://www.pattern.com/home-alt" }
          ]
        }
      },
      "id": "coupon-config",
      "name": "Coupon Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [900, 380]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const saleConfig = $input.item.json;\nconst userName = saleConfig.userName || 'Customer';\nconst userEmail = saleConfig.userEmail || '';\nconst timestamp = Date.now();\n\nfunction randomString(length) {\n  const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';\n  let result = '';\n  for (let i = 0; i < length; i++) {\n    result += chars.charAt(Math.floor(Math.random() * chars.length));\n  }\n  return result;\n}\n\nfunction getInitials(name) {\n  return name.split(' ').map(n => n[0]).join('').toUpperCase().substring(0, 3);\n}\n\nfunction getEmailPrefix(email) {\n  return email.split('@')[0].toUpperCase().replace(/[^A-Z0-9]/g, '').substring(0, 6);\n}\n\nconst patterns = [\n  () => `SAVE${getInitials(userName)}${Math.floor(timestamp % 10000)}`,\n  () => `${getEmailPrefix(userEmail)}OFF${saleConfig.discountPercent}`,\n  () => `VIP${randomString(4)}${saleConfig.discountPercent}`,\n  () => `FLASH${randomString(5)}`,\n  () => `${userName.substring(0, 4).toUpperCase()}${timestamp.toString().slice(-5)}`,\n  () => `DEAL${saleConfig.discountPercent}${randomString(4)}`\n];\n\nconst couponCode = patterns[Math.floor(Math.random() * patterns.length)]();\nconst now = new Date();\nconst expiresAt = new Date(now.getTime() + (saleConfig.validityHours || 24) * 60 * 60 * 1000);\nconst reminderAt = new Date(expiresAt.getTime() - (saleConfig.reminderHours || 2) * 60 * 60 * 1000);\n\nreturn {\n  json: {\n    ...saleConfig,\n    couponCode,\n    generatedAt: now.toISOString(),\n    expiresAtISO: expiresAt.toISOString(),\n    reminderAtISO: reminderAt.toISOString(),\n    waitUntilReminderMs: reminderAt.getTime() - now.getTime(),\n    waitUntilExpiryMs: expiresAt.getTime() - now.getTime()\n  }\n};"
      },
      "id": "generate-coupon",
      "name": "Generate Coupon Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 380]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            { "name": "couponCode", "stringValue": "={{ $json.couponCode }}" },
            { "name": "userEmail", "stringValue": "={{ $json.userEmail }}" },
            { "name": "userName", "stringValue": "={{ $json.userName }}" },
            { "name": "discountPercent", "type": "numberValue", "numberValue": "={{ $json.discountPercent }}" },
            { "name": "createdAt", "stringValue": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}" },
            { "name": "expiresAt", "stringValue": "={{ $now.plus({ hours: $json.validityHours }).format('yyyy-MM-dd HH:mm:ss') }}" },
            { "name": "status", "stringValue": "ACTIVE" },
            { "name": "couponType", "stringValue": "={{ $json.couponType }}" },
            { "name": "usageCount", "type": "numberValue", "numberValue": 0 },
            { "name": "maxUsage", "type": "numberValue", "numberValue": 1 },
            { "name": "notificationEmail", "stringValue": "={{ $json.notificationEmail }}" },
            { "name": "storeUrl", "stringValue": "={{ $json.storeUrl }}" },
            { "name": "validityHours", "type": "numberValue", "numberValue": "={{ $json.validityHours }}" },
            { "name": "reminderHours", "type": "numberValue", "numberValue": "={{ $json.reminderHours }}" }
          ]
        }
      },
      "id": "prepare-coupon-data",
      "name": "Prepare Coupon Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1340, 380]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "value": "YOUR_GOOGLE_SHEET_URL" },
        "sheetName": { "value": "Coupons" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CouponCode": "={{ $json.couponCode }}",
            "UserEmail": "={{ $json.userEmail }}",
            "UserName": "={{ $json.userName }}",
            "DiscountPercent": "={{ $json.discountPercent }}",
            "Status": "={{ $json.status }}",
            "CreatedAt": "={{ $json.createdAt }}",
            "ExpiresAt": "={{ $json.expiresAt }}",
            "CouponType": "={{ $json.couponType }}",
            "UsageCount": "={{ $json.usageCount }}",
            "MaxUsage": "={{ $json.maxUsage }}"
          }
        }
      },
      "id": "log-coupon",
      "name": "Log Coupon to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1560, 380],
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Prepare Coupon Data').item.json.userEmail }}",
        "subject": "=🎁 Your Exclusive {{ $('Prepare Coupon Data').item.json.discountPercent }}% Off Coupon, {{ $('Prepare Coupon Data').item.json.userName }}!",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px;background:#f5f5f5\"><div style=\"background:#1a1a2e;color:#fff;padding:30px;border-radius:12px;text-align:center\"><h1 style=\"font-size:48px;margin:0\">🎁</h1><h2 style=\"color:#e94560;margin:10px 0\">Hey {{ $('Prepare Coupon Data').item.json.userName }}!</h2><p style=\"font-size:18px;color:#ccc\">We have an exclusive offer just for you!</p><div style=\"background:#e94560;border-radius:8px;padding:20px;margin:20px 0\"><p style=\"font-size:14px;color:#fff;margin:0;text-transform:uppercase;letter-spacing:2px\">Your Coupon Code</p><h2 style=\"font-size:36px;letter-spacing:6px;margin:8px 0;color:#fff;font-family:monospace\">{{ $('Prepare Coupon Data').item.json.couponCode }}</h2><p style=\"font-size:28px;font-weight:bold;color:#fff;margin:0\">{{ $('Prepare Coupon Data').item.json.discountPercent }}% OFF</p></div><div style=\"background:rgba(255,255,255,0.1);border-radius:8px;padding:12px;margin:15px 0\"><p style=\"color:#aaa;font-size:13px;margin:0\">⏰ Expires: <strong style=\"color:#fff\">{{ $('Prepare Coupon Data').item.json.expiresAt }}</strong></p><p style=\"color:#aaa;font-size:12px;margin:5px 0 0\">Single use only — don't share this code!</p></div><a href=\"{{ $('Prepare Coupon Data').item.json.storeUrl }}?discount={{ $('Prepare Coupon Data').item.json.couponCode }}\" style=\"display:inline-block;background:#fff;color:#1a1a2e;padding:14px 32px;border-radius:8px;text-decoration:none;font-weight:bold;margin-top:10px;font-size:16px\">Shop Now →</a></div><p style=\"color:#999;font-size:12px;text-align:center;margin-top:20px\">You're receiving this because you opted in to our promotions.<br>This coupon is valid for a single purchase only.</p></body></html>"
      },
      "id": "send-coupon-email",
      "name": "Send Coupon Email to User",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1780, 380],
      "credentials": { "gmailOAuth2": { "id": "YOUR_GMAIL_CREDENTIAL_ID", "name": "Gmail OAuth2" } }
    },
    {
      "parameters": {
        "amount": "={{ $('Prepare Coupon Data').item.json.validityHours - $('Prepare Coupon Data').item.json.reminderHours }}",
        "unit": "hours"
      },
      "id": "wait-reminder",
      "name": "Wait Until Reminder Time",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2000, 380]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Prepare Coupon Data').item.json.userEmail }}",
        "subject": "=⏰ Your coupon expires in {{ $('Prepare Coupon Data').item.json.reminderHours }} hours — don't miss out!",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px;background:#f5f5f5\"><div style=\"background:#1a1a2e;color:#fff;padding:30px;border-radius:12px;text-align:center\"><h1 style=\"font-size:48px;margin:0\">⏰</h1><h2 style=\"color:#f5a623;margin:10px 0\">Your coupon is about to expire!</h2><p style=\"color:#ccc\">Hey {{ $('Prepare Coupon Data').item.json.userName }}, you still haven't used your {{ $('Prepare Coupon Data').item.json.discountPercent }}% off coupon.</p><div style=\"background:#f5a623;border-radius:8px;padding:20px;margin:20px 0\"><p style=\"font-size:14px;color:#1a1a2e;margin:0;font-weight:bold\">EXPIRING SOON</p><h2 style=\"font-size:32px;letter-spacing:6px;margin:8px 0;color:#1a1a2e;font-family:monospace\">{{ $('Prepare Coupon Data').item.json.couponCode }}</h2><p style=\"font-size:22px;font-weight:bold;color:#1a1a2e;margin:0\">{{ $('Prepare Coupon Data').item.json.discountPercent }}% OFF — Expires: {{ $('Prepare Coupon Data').item.json.expiresAt }}</p></div><a href=\"{{ $('Prepare Coupon Data').item.json.storeUrl }}?discount={{ $('Prepare Coupon Data').item.json.couponCode }}\" style=\"display:inline-block;background:#fff;color:#1a1a2e;padding:14px 32px;border-radius:8px;text-decoration:none;font-weight:bold;margin-top:10px;font-size:16px\">Use It Now →</a></div></body></html>"
      },
      "id": "send-reminder-email",
      "name": "Send Expiry Reminder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2220, 380],
      "credentials": { "gmailOAuth2": { "id": "YOUR_GMAIL_CREDENTIAL_ID", "name": "Gmail OAuth2" } }
    },
    {
      "parameters": {
        "amount": "={{ $('Prepare Coupon Data').item.json.reminderHours }}",
        "unit": "hours"
      },
      "id": "wait-expiry",
      "name": "Wait Until Expiry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2440, 380]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "value": "YOUR_GOOGLE_SHEET_URL" },
        "sheetName": { "value": "Coupons" },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": ["CouponCode"],
          "value": {
            "CouponCode": "={{ $('Prepare Coupon Data').item.json.couponCode }}",
            "Status": "EXPIRED"
          }
        }
      },
      "id": "expire-coupon",
      "name": "Expire Coupon in Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2660, 380],
      "credentials": { "googleSheetsOAuth2Api": { "id": "YOUR_CREDENTIAL_ID", "name": "Google Sheets OAuth2" } }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Prepare Coupon Data').item.json.userEmail }}",
        "subject": "=😔 Your {{ $('Prepare Coupon Data').item.json.discountPercent }}% off coupon has expired",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><body style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px;background:#f5f5f5\"><div style=\"background:#1a1a2e;color:#fff;padding:30px;border-radius:12px;text-align:center\"><h1 style=\"font-size:48px;margin:0\">😔</h1><h2 style=\"color:#aaa;margin:10px 0\">Your coupon has expired</h2><p style=\"color:#ccc\">Hey {{ $('Prepare Coupon Data').item.json.userName }}, your <strong style=\"color:#fff\">{{ $('Prepare Coupon Data').item.json.discountPercent }}% off</strong> coupon <span style=\"font-family:monospace;color:#e94560\">{{ $('Prepare Coupon Data').item.json.couponCode }}</span> expired on {{ $('Prepare Coupon Data').item.json.expiresAt }}.</p><div style=\"background:rgba(255,255,255,0.07);border-radius:8px;padding:16px;margin:20px 0\"><p style=\"color:#aaa;font-size:14px;margin:0\">Stay tuned — more exclusive deals are on their way. 👀</p></div></div><p style=\"color:#999;font-size:12px;text-align:center;margin-top:20px\">You're receiving this because you opted in to our promotions.</p></body></html>"
      },
      "id": "notify-user-expiry",
      "name": "Notify User of Expiry",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2880, 380],
      "credentials": { "gmailOAuth2": { "id": "YOUR_GMAIL_CREDENTIAL_ID", "name": "Gmail OAuth2" } }
    },
    {
      "parameters": {
        "workflowId": { "value": "EMAIL_DIGEST_WORKFLOW_ID" },
        "waitForSubWorkflow": true
      },
      "id": "call-digest-subflow",
      "name": "Call Email Digest Subflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [3100, 380]
    }
  ],
  "connections": {
    "Daily 9AM Trigger": { "main": [[{ "node": "Read Recipients from Google Sheets", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Read Recipients from Google Sheets", "type": "main", "index": 0 }]] },
    "Read Recipients from Google Sheets": { "main": [[{ "node": "Filter Eligible Recipients", "type": "main", "index": 0 }]] },
    "Filter Eligible Recipients": { "main": [[{ "node": "Coupon Config", "type": "main", "index": 0 }]] },
    "Coupon Config": { "main": [[{ "node": "Generate Coupon Code", "type": "main", "index": 0 }]] },
    "Generate Coupon Code": { "main": [[{ "node": "Prepare Coupon Data", "type": "main", "index": 0 }]] },
    "Prepare Coupon Data": { "main": [[{ "node": "Log Coupon to Google Sheets", "type": "main", "index": 0 }]] },
    "Log Coupon to Google Sheets": { "main": [[{ "node": "Send Coupon Email to User", "type": "main", "index": 0 }]] },
    "Send Coupon Email to User": { "main": [[{ "node": "Wait Until Reminder Time", "type": "main", "index": 0 }]] },
    "Wait Until Reminder Time": { "main": [[{ "node": "Send Expiry Reminder", "type": "main", "index": 0 }]] },
    "Send Expiry Reminder": { "main": [[{ "node": "Wait Until Expiry", "type": "main", "index": 0 }]] },
    "Wait Until Expiry": { "main": [[{ "node": "Expire Coupon in Google Sheets", "type": "main", "index": 0 }]] },
    "Expire Coupon in Google Sheets": { "main": [[{ "node": "Notify User of Expiry", "type": "main", "index": 0 }]] },
    "Notify User of Expiry": { "main": [[{ "node": "Call Email Digest Subflow", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
